*{
  margin: 0;
  padding: 0;
}

// body{
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }
/*-----start of info section-----*/
.info-sect{
  display: grid;
  grid-template-columns: 2fr 1fr .5fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f7f7f7;
  ul{
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    li{
      display: flex;
      list-style: none;
      align-items: center;
      i{
        padding: 0 0 0 1.1rem;
        color: #95C645;
        font-size: 1.5rem;
        margin: 0;
      }
      span{
          padding: 0 0 0 1rem;
          color: #9b9da0;
        }
      }
    }
  }
  .media{
    display: inline-block;
    align-items: center;
    // margin: 0 0 0 30.1rem;
    a{
        padding: 0 .6rem 0 .6rem;
        float: right;
      i{
        color: #999999;
        font-size: 1.1rem;
      }
    }
  }
  .botn{

    .btn{
      display: inline-block;
      float: right;
      background-color: #8DC63F;
      border: 2px solid #8DC63F;
      color: #fff;
      border-radius: 25px;
      text-transform: uppercase;
      margin: 0 1.1rem 0 1.1rem;
      &:hover{
        // font-weight: 700;
        background-color: #fff;
        color: #8DC63F;
        transition: .6s;
      }
    }
}
/*-----end of info section-----*/
/*-----start of donation section-----*/

#form {
  width:100%;
  height:650px;
}
#hidden-element {
  display:none;
}

/*-----end of donation section-----*/
/*-----start of navbar-----*/
nav{
  padding: 1rem;

  .logo{
    display: inline-flex;
    width: 170px;
  }
  .collapse{
    justify-content: flex-end;
    .navbar-nav{
      .nav-item{
          list-style: none;
          padding-left: 1rem;
          &:first-child{
            padding-left: .6rem;
          }
          .nav-link{
            text-transform: uppercase;
            font-weight: 500;
            color: #000;
            &:hover{
              color: #8DC63F;
            }
          }
          ul{
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
            li{
              border-bottom: 1px solid rgba(255,255,255,.2);
              list-style: none;
              // border-bottom: 1px solid #8DC63F;
              border-left: 3px solid #8DC63F;
            }

          }
          &:hover ul{
            opacity: 1;
            visibility: visible;
            background-color: #fff;

          }
      }
    }
    input[type=Search]{
      border: 2px solid #8DC63F;
      width: 10rem;
    }
    .btn{
      border: 2px solid #8DC63F;
      &:hover{
        background-color: #8DC63F;
        border: 2px solid #12345678;
        color: #fff;
      }
    }
  }

}

@media (max-width: 922px){
  .info-sect{
    .infor{
      display: inline-block;
      justify-content: center;
      align-items: center;
      li{
        display: inline-flex;
        justify-content: center;
      }
    }
    .media{
      display: inline-flex;
      margin: 0 0 0 5.1rem;
      justify-content: center;
      vertical-align: middle;
    }
   }
   nav{
   .logo{
     width: 130px;
     }
     .collapse{
     input[type=Search]{
       width: 7rem;
       }
     }
   }
}


@media (max-width: 710px){

  .info-sect{
    display: inline-block;
    height: auto;
    text-align: center;
    .infor{
      display: inline-block;
    }
    .media{
      margin: 0 0 .7rem 0;
      float: none;
      vertical-align: middle;
    }
    .btn{
      margin: 0 0 .7rem 0;
      float: none;
    }
  }
}
/*-----end of navbar-----*/
/*-----start of cards section-----*/
// .pr{
//     p{
//       display: block;
//       text-align: center;
//       margin: 0;
//       padding: 0;
//   }
// }
// .cards{
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 10px;
//   margin: 0;
//   padding: 0;
//   justify-items: center;
//   .card{
//     width: 18rem;
//     margin-top: 1.1rem;
//   }
// }
//
// @media(max-width: 1190px){
//
//   .cards{
//     display: grid;
//     // flex-wrap: wrap;
//     grid-template-columns: repeat(2, 1fr);
//     justify-content: center;
//     grid-column-gap: 60px;
//     margin: 0;
//     padding: 0;
//     .card{
//       width: 22rem;
//       margin: 1.1rem 0 0 0;
//       padding: 0;
//     }
//   }
// }
//
// @media(max-width: 766px){
//   .cards{
//     display: grid;
//     // flex-wrap: wrap;
//     grid-template-columns: 1fr;
//     justify-content: center;
//     grid-column-gap: 60px;
//     margin: 0;
//     padding: 0;
//     .card{
//       width: 25rem;
//       margin: 1.1rem 0 0 0;
//       padding: 0;
//     }
//   }
// }
// /*-----end of cards section-----*/
// /*-----start of recent project section-----*/
// .project{
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 10px;
//   margin: 0 10px;
//   h3{
//     grid-area: 1 / 1 / 2 / span 4;
//     margin-top: 10px;
//     text-decoration: underline;
//   }
//   .art{
//     text-align: center;
//     img{
//       width: 100%;
//     }
//   }
// }
//
// @media(max-width: 768px){
//   .project{
//     display: grid;
//     justify-items: center;
//     grid-template-columns: repeat(2, 1fr);
//     // grid-gap: 10px;
//     margin: 0;
//     h3{
//       grid-area: 1 / 1 / 2 / span 2;
//       margin-top: 10px;
//       text-decoration: underline;
//       text-align: center;
//     }
//     .art{
//       text-align: center;
//       width: 24rem;
//       img{
//         width: 100%;
//         margin: 0;
//         padding: 0;
//       }
//     }
//   }
// }
//
// @media(max-width: 480px){
//   .project{
//     display: grid;
//     justify-items: center;
//     grid-template-columns: 1fr;
//     // grid-gap: 10px;
//     margin: 0;
//     h3{
//       grid-area: 1 / 1 / 2 / 2;
//       margin-top: 10px;
//       text-decoration: underline;
//       text-align: center;
//     }
//     .art{
//       text-align: center;
//       width: 24rem;
//       img{
//         width: 100%;
//         margin: 0;
//         padding: 0;
//       }
//     }
//   }
// }
/*-----end of recent project section-----*/
/*-----start of Newslatters section-----*/
.nltr{
  background: url("image/newsletter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 40vh;
  position: relative;
  .formule{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mail{
    width: 30rem;
    padding: 15px 0 15px 15px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;

  }
  .sub{
    width: 7rem;
    padding: 15px 0;
    cursor: pointer;
    background-color: #5DC269;
    border: none;
    border-radius: 3px;
  }
}

@media (max-width: 768px){
  .nltr{

    .mail{
      width: 20rem;
    }
    .sub{
      width: 5rem;
      padding: 20px 0;
      font-size: 12px;
    }
  }
}
/*-----end of Newslatters section-----*/
