@import "nav.scss";

body{
    background: -webkit-linear-gradient(left, #6AB43E, #96ca77);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
  .contact-image{
        text-align: center;
        img{
            border-radius: 6rem;
            width: 11%;
            margin-top: -3%;
            transform: rotate(29deg);
        }
    }
    form{
        padding: 14%;
        h3{
            margin-bottom: 8%;
            margin-top: -10%;
            text-align: center;
            color: #0062cc;
        }
        .row{
            margin-bottom: -7%;
        }
    }
  .form-control{
        border-radius:.5rem;
    }
    .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: #fff;
        font-weight: 600;
        color: #6AB43E;
        border: 1.5px solid #6AB43E;
        cursor: pointer;
        &:hover{
          background: #6AB43E;
          color: #fff;
        }
    }
}
