
.section-card {
  padding-top: 4rem;
  padding-bottom: 8em;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color:#f2f2f2 ;
font-family: sans-serif;
}

.card- {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  /* padding-top: 5em;
  padding-bottom: 5em; */
 
  height: 300px;

 

}

.card-1 {
  grid-column: 1 / span 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-radius: 27px 27px 27px 27px;
border: 1px solid #f9f9f9;
background-color: white;
padding: 10px;
 
}
.card-2 {
  grid-column: 2 / span 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-radius: 27px 27px 27px 27px;
  padding: 10px;
  border: 1px solid #f9f9f9;
  background-color: white;
}
.card-3 {
  grid-column: 3 / span 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-radius: 27px 27px 27px 27px;
  border: 1px solid #f9f9f9;
  background-color: white;
  padding: 10px;
 
}
.card-4 {
  grid-column: 4 / span 1;
 
  width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr ;

   border-radius: 27px 27px 27px 27px;
   padding: 10px;
   border: 1px solid #f9f9f9;
   background-color: white;
}


.card-photo  {
  width: 100%;
  height: 50%;
 
}
.card-photo__1 {
  width: 50px;
  height: 50px;
  z-index: 2;
  justify-self:center ;
  align-self: center;
  grid-column: 1 / span 2;
 
}
.card-photo__2 {
  width: 50px;
  height: 50px;
  z-index: 2;
  justify-self:center ;
  align-self: center;
  grid-column: 1 / span 2;
 
 
}
.card-photo__3 {
  width: 50px;
  height: 50px;
  z-index: 2;
  justify-self:center ;
  align-self: center;
  grid-column: 1 / span 2;
 
  
}
.card-photo__4 {
  width: 50px;
  height: 50px;
  z-index: 2;
  justify-self:center ;
  align-self: center;
  grid-column: 1 / span 2;
 
  
}
.card-title {
  grid-column: 1 / span 2;
  margin-bottom: 0;
  justify-self:center ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
  font-size: 18px;
 
}
.card-para {
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  justify-self:center ;
  margin-left: 5px;
  
 
}
.card-title1 {
  grid-column: 1 / span 2;
  margin-bottom: 0;
  justify-self:center ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
  font-size: 18px;
  
 
 
}
.card-para1 {
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  justify-self:center ;
  margin-left: 5px;
 
}
.card-title2 {
  grid-column: 1 / span 2;
  margin-bottom: 0;
  justify-self:center ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
  font-size: 18px;
  
}
.card-para2 {
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  justify-self:center ;
  margin-left: 5px;
  
}
.card-title3 {
  grid-column: 1 / span 2;
  margin-bottom: 0;
  justify-self:center ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
  font-size: 18px;
  
}
.card-para3 {
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  justify-self:center ;
  margin-left: 5px;
 
}

.card-span-title {
  color:#6AB43E ;
}
.card-main-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 4rem;
  text-align: center;
}
