* {
  margin: 0;
  padding: 0;
}

/*-----start of info section-----*/
.info-sect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr .5fr;
      grid-template-columns: 2fr 1fr .5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f7f7f7;
}

.info-sect ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.info-sect ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-sect ul li i {
  padding: 0 0 0 1.1rem;
  color: #95C645;
  font-size: 1.5rem;
  margin: 0;
}

.info-sect ul li span {
  padding: 0 0 0 1rem;
  color: #9b9da0;
}

.media {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media a {
  padding: 0 .6rem 0 .6rem;
  float: right;
}

.media a i {
  color: #999999;
  font-size: 1.1rem;
}

.botn .btn {
  display: inline-block;
  float: right;
  background-color: #8DC63F;
  border: 2px solid #8DC63F;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  margin: 0 1.1rem 0 1.1rem;
}

.botn .btn:hover {
  background-color: #fff;
  color: #8DC63F;
  -webkit-transition: .6s;
  transition: .6s;
}

/*-----end of info section-----*/
/*-----start of donation section-----*/
#form {
  width: 100%;
  height: 650px;
}

#hidden-element {
  display: none;
}

/*-----end of donation section-----*/
/*-----start of navbar-----*/
.navbar {
  padding: 1.5rem 1rem;
}

.navbar .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 170px;
}

.navbar .collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .collapse .navbar-nav {
  margin: auto;
}

.navbar .collapse .navbar-nav .nav-item {
  list-style: none;
  padding-left: 1rem;
}

.navbar .collapse .navbar-nav .nav-item:first-child {
  padding-left: .6rem;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  color: #7f8c8d;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #8DC63F;
}

.navbar .collapse .navbar-nav .nav-item ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.navbar .collapse .navbar-nav .nav-item ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  border-left: 3px solid #8DC63F;
}

.navbar .collapse .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}

.navbar .collapse .form-inline input[type=Search] {
  border: 2px solid #8DC63F;
  width: 10rem;
  margin: auto;
}

.navbar .collapse .form-inline ::-webkit-input-placeholder {
  text-align: center;
}

.navbar .collapse .form-inline :-ms-input-placeholder {
  text-align: center;
}

.navbar .collapse .form-inline ::-ms-input-placeholder {
  text-align: center;
}

.navbar .collapse .form-inline ::placeholder {
  text-align: center;
}

.navbar .collapse .form-inline .btn {
  border: 2px solid #8DC63F;
}

.navbar .collapse .form-inline .btn:hover {
  background-color: #8DC63F;
  border: 2px solid #12345678;
  color: #fff;
}

@media (max-width: 922px) {
  .info-sect .infor {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-sect .infor li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-sect .media {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 0 0 5.1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: middle;
  }
  nav .logo {
    width: 160px;
  }
  nav .collapse .form-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 10rem;
    float: right;
  }
  nav .collapse .form-inline input[type=Search] {
    width: 6rem;
    margin-bottom: .2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .collapse .form-inline .btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (max-width: 710px) {
  .info-sect {
    display: inline-block;
    height: auto;
    text-align: center;
  }
  .info-sect .infor {
    display: inline-block;
  }
  .info-sect .media {
    margin: 0 0 .7rem 0;
    float: none;
    vertical-align: middle;
  }
  .info-sect .btn {
    margin: 0 0 .7rem 0;
    float: none;
  }
  nav .logo {
    width: 180px;
  }
  nav .collapse .form-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 10rem;
  }
}

/*-----end of navbar-----*/
/*-----start of cards section-----*/
/*-----end of recent project section-----*/
/*-----start of Newslatters section-----*/
.nltr {
  background: url("image/newsletter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 40vh;
  position: relative;
}

.nltr .formule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nltr .mail {
  width: 30rem;
  padding: 15px 15px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
}

.nltr .sub {
  width: 7rem;
  padding: 15px 0;
  cursor: pointer;
  background-color: #5DC269;
  border: none;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .nltr .mail {
    width: 20rem;
  }
  .nltr .sub {
    width: 5rem;
    padding: 20px 0;
    font-size: 12px;
  }
}

/*-----end of Newslatters section-----*/
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  -webkit-animation: slide 2s ease;
          animation: slide 2s ease;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.home .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* margin-top: 40px; */
}

.home .caption {
  width: 80%;
}

/* this is H1 */
.home .caption h1 {
  font-size: 40px;
  color: white;
  margin-left: 0.5em;
  margin-bottom: 0em;
  text-transform: uppercase;
  /* text-align: center; */
}

.home .slide.active .caption h1 {
  opacity: 0;
  -webkit-animation: captionText .5s ease forwards;
          animation: captionText .5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/* this is P */
.home .caption p {
  font-size: 20px;
  color: #f2f2f2;
  margin-left: 1.2em;
  margin-top: 0em;
  /* text-align: center; */
}

.home .slide.active .caption p {
  opacity: 0;
  -webkit-animation: captionText .5s ease forwards;
          animation: captionText .5s ease forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

/* this is a */
.home .caption a {
  margin-left: 2em;
  display: inline-block;
  padding: 12px 41px;
  background-color: #6AB43E;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .slide.active .caption a {
  opacity: 0;
  -webkit-animation: captionText .5s ease forwards;
          animation: captionText .5s ease forwards;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.home .caption a:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
}

.home .caption #link {
  margin-left: 2em;
  display: inline-block;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .slide.active .caption #link {
  opacity: 0;
  -webkit-animation: captionText .5s ease forwards;
          animation: captionText .5s ease forwards;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.home .caption #link:hover {
  background-color: #fff;
  color: #6AB43E;
  border: none;
}

@-webkit-keyframes captionText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes captionText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: white;
  background-color: rgba(106, 180, 62, 0.8);
  left: 0;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 50%;
}

.next {
  position: absolute;
  z-index: 1;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: white;
  background-color: rgba(106, 180, 62, 0.8);
  border-radius: 50%;
  right: 0;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.prev:hover {
  background-color: slategrey;
}

.next:hover {
  background-color: slategrey;
}

.home .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.indicator div {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: rgba(106, 180, 62, 0.8);
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0px 2px;
}

.indicator div.active {
  background-color: #000;
}

@media (max-width: 767px) {
  .controls {
    display: none;
  }
  .home .caption a {
    margin-top: 6px;
  }
  #link {
    margin-top: 6px;
  }
  .container {
    margin-top: 4px;
  }
  .home .caption {
    width: 100%;
  }
  .home .caption h1 {
    font-size: 30px;
  }
  .home .caption p {
    font-size: 20px;
  }
}

.section-card {
  padding-top: 4rem;
  padding-bottom: 5em;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f2f2f2;
  font-family: sans-serif;
}

.card- {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  /* padding-top: 5em;
  padding-bottom: 5em; */
  height: 300px;
}

.card-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 27px 27px 27px 27px;
  border: 1px solid #f9f9f9;
  background-color: white;
  padding: 10px;
}

.card-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 27px 27px 27px 27px;
  padding: 10px;
  border: 1px solid #f9f9f9;
  background-color: white;
}

.card-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 27px 27px 27px 27px;
  border: 1px solid #f9f9f9;
  background-color: white;
  padding: 10px;
}

.card-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 27px 27px 27px 27px;
  padding: 10px;
  border: 1px solid #f9f9f9;
  background-color: white;
}

.card-photo {
  width: 100%;
  height: 50%;
}

.card-photo__1 {
  width: 50px;
  height: 50px;
  z-index: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.card-photo__2 {
  width: 50px;
  height: 50px;
  z-index: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.card-photo__3 {
  width: 50px;
  height: 50px;
  z-index: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.card-photo__4 {
  width: 50px;
  height: 50px;
  z-index: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.card-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 18px;
}

.card-para {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 5px;
}

.card-title1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 18px;
}

.card-para1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 5px;
}

.card-title2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 18px;
}

.card-para2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 5px;
}

.card-title3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 18px;
}

.card-para3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-top: 0;
  margin-bottom: 0;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 5px;
}

.card-span-title {
  color: #6AB43E;
}

.card-main-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 4rem;
  text-align: center;
}

@media (max-width: 500px) {
  .card- {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    /* padding-top: 5em;
    padding-bottom: 5em; */
    height: 300px;
  }
  .card-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-radius: 27px 27px 27px 27px;
    border: 1px solid #f9f9f9;
    background-color: white;
    padding: 10px;
  }
  .card-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-radius: 27px 27px 27px 27px;
    border: 1px solid #f9f9f9;
    background-color: white;
    padding: 10px;
  }
  .card-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-radius: 27px 27px 27px 27px;
    border: 1px solid #f9f9f9;
    background-color: white;
    padding: 10px;
  }
  .card-4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-radius: 27px 27px 27px 27px;
    border: 1px solid #f9f9f9;
    background-color: white;
    padding: 10px;
  }
}
/*# sourceMappingURL=main.css.map */