body {
  background: url("image/background_6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  margin: 0;
  padding: 0;
}

/*-----start of info section-----*/
.info-sect {
  display: grid;
  grid-template-columns: 2fr 1fr .5fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f7f7f7;
}

.info-sect ul {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.info-sect ul li {
  display: flex;
  list-style: none;
  align-items: center;
}

.info-sect ul li i {
  padding: 0 0 0 1.1rem;
  color: #95C645;
  font-size: 1.5rem;
  margin: 0;
}

.info-sect ul li span {
  padding: 0 0 0 1rem;
  color: #9b9da0;
}

.media {
  display: inline-block;
  align-items: center;
}

.media a {
  padding: 0 .6rem 0 .6rem;
  float: right;
}

.media a i {
  color: #999999;
  font-size: 1.1rem;
}

.botn .btn {
  display: inline-block;
  float: right;
  background-color: #8DC63F;
  border: 2px solid #8DC63F;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  margin: 0 1.1rem 0 1.1rem;
}

.botn .btn:hover {
  background-color: #fff;
  color: #8DC63F;
  transition: .6s;
}

/*-----end of info section-----*/
/*-----start of donation section-----*/
#form {
  width: 100%;
  height: 650px;
}

#hidden-element {
  display: none;
}

/*-----end of donation section-----*/
/*-----start of navbar-----*/
.navbar {
  padding: 1.5rem 1rem;
  background-color: #fff;
}

.navbar .logo {
  display: inline-flex;
  width: 170px;
}

.navbar .collapse {
  justify-content: center;
}

.navbar .collapse .navbar-nav {
  margin: auto;
}

.navbar .collapse .navbar-nav .nav-item {
  list-style: none;
  padding-left: 1rem;
}

.navbar .collapse .navbar-nav .nav-item:first-child {
  padding-left: .6rem;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  color: #7f8c8d;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #8DC63F;
}

.navbar .collapse .navbar-nav .nav-item ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.navbar .collapse .navbar-nav .nav-item ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  border-left: 3px solid #8DC63F;
}

.navbar .collapse .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}

.navbar .collapse .form-inline input[type=Search] {
  border: 2px solid #8DC63F;
  width: 10rem;
  margin: auto;
}

.navbar .collapse .form-inline ::placeholder {
  text-align: center;
}

.navbar .collapse .form-inline .btn {
  border: 2px solid #8DC63F;
}

.navbar .collapse .form-inline .btn:hover {
  background-color: #8DC63F;
  border: 2px solid #12345678;
  color: #fff;
}

@media (max-width: 922px) {
  .info-sect .infor {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .info-sect .infor li {
    display: inline-flex;
    justify-content: center;
  }
  .info-sect .media {
    display: inline-flex;
    margin: 0 0 0 5.1rem;
    justify-content: center;
    vertical-align: middle;
  }
  nav .logo {
    width: 160px;
  }
  nav .collapse .form-inline {
    display: inline-flex;
    width: 10rem;
    float: right;
  }
  nav .collapse .form-inline input[type=Search] {
    width: 6rem;
    margin-bottom: .2rem;
    justify-content: center;
  }
  nav .collapse .form-inline .btn {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 710px) {
  .info-sect {
    display: inline-block;
    height: auto;
    text-align: center;
  }
  .info-sect .infor {
    display: inline-block;
  }
  .info-sect .media {
    margin: 0 0 .7rem 0;
    float: none;
    vertical-align: middle;
  }
  .info-sect .btn {
    margin: 0 0 .7rem 0;
    float: none;
  }
  nav .logo {
    width: 180px;
  }
  nav .collapse .form-inline {
    display: inline-flex;
    width: 10rem;
  }
}

/*-----end of navbar-----*/
/*-----start of cards section-----*/
/*-----end of recent project section-----*/
/*-----start of Newslatters section-----*/
.nltr {
  background: url("image/newsletter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 40vh;
  position: relative;
}

.nltr .formule {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nltr .mail {
  width: 30rem;
  padding: 15px 15px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
}

.nltr .sub {
  width: 7rem;
  padding: 15px 0;
  cursor: pointer;
  background-color: #5DC269;
  border: none;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .nltr .mail {
    width: 20rem;
  }
  .nltr .sub {
    width: 5rem;
    padding: 20px 0;
    font-size: 12px;
  }
}

/*-----end of Newslatters section-----*/
.new_raport {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  margin: 10px 93px 20px 93px;
}

.new_raport .page_title {
  grid-area: 1 / 1 / 2 / span 2;
  font-size: 2rem;
}

.new_raport .about_raport p {
  margin-top: .7rem;
  margin-bottom: 2rem;
}

.new_raport .get_raport {
  background-color: #999999;
  color: #fff;
  padding: 13px;
  border-radius: 12px;
  text-decoration: none;
}

.new_raport .last_pic {
  width: 100%;
  border-radius: 15px;
  height: 21rem;
}

.ancient_raports {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 85%;
  margin: 2.5rem auto .7rem auto;
}

.ancient_raports .past_reports {
  grid-area: 1 / 1 / 2 / span 3;
}

.ancient_raports .raport .pic img {
  width: 100%;
  border-radius: 15px;
}

.ancient_raports .raport .down {
  margin: 15px 0;
}

.ancient_raports .raport .down .raport_link {
  border: 1.5px solid #12345678;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.ancient_raports .raport .down .raport_link:hover {
  background-color: #8DC63F;
  color: #fff;
  border: 2px solid #999999;
  font-weight: bold;
}

.ancient_raports .raport .raport_title {
  color: red;
  margin: 1.1rem 0 1.4rem 0;
}

@media (max-width: 922px) {
  .new_raport {
    display: grid;
    grid-template-columns: 1fr;
  }
  .new_raport .page_title {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 2rem;
  }
  .new_raport .last_pic {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 21rem;
  }
  .ancient_raports {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ancient_raports .past_reports {
    grid-area: 1 / 1 / 2 / 3;
  }
}

@media (max-width: 650px) {
  .ancient_raports {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ancient_raports .past_reports {
    grid-area: 1 / 1 / 2 / 2;
  }
}

/*-------footer--------*/
.container_footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: hidden;
}

.footer_art {
  justify-self: center;
}

.footer_art li {
  list-style: none;
  color: white;
}

.footer_art p {
  color: white;
  margin-left: 10px;
  margin-top: 0;
}

.footer_art h1 {
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 30px;
}

.imggg {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-bottom: 10px;
}

.footer_art ul li {
  margin-top: 10px;
}

.container_footer {
  background-image: url("image/foter.jpg");
  padding-top: 29px;
  padding-bottom: 30px;
}

.footer_copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F7F7F7;
}

.cop1 {
  justify-self: start;
  padding-left: 15px;
}

.cop2 {
  justify-self: end;
  padding-right: 20px;
}

.cop1, .cop2 p {
  font-size: 20px;
}

.cord1 {
  height: 30px;
  width: 33px;
  padding: 5px;
}

#logo {
  height: 60px;
  width: 200px;
  padding: 10px 0 0 30px;
}

.footter_are_list {
  margin-top: 35px;
}

@media (max-width: 800px) {
  .container_footer .footer_copyright .cop1,
  .container_footer .footer_copyright .cop2 p {
    font-size: 13px;
  }
}

/*------- end footer--------*/
